



/* styles.css */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #E9F1FA; 
}

header {
    background-color: #00ABE4;
    color: #fff;
    padding: 15px 50px; 
    box-shadow: 0 2px 4px rgb(0, 0, 0); 
    justify-content: space-between;
}

.footer {
  background-color: #00ABE4;
  color: #E9F1FA;
  font-size: 16px;
  text-align: center;
  width: 100%;
  position: absolute;
  padding: 45px 0px;
  margin-top: 25px;
}

#button {
    background-color: #ffffffa1; 

    color: black;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 200px;
    margin: 10px auto;
  }

#hamburger {
    cursor: pointer; 
    width: 40px; 
    text-align: left;
    position: absolute;
}

select {
    margin-top: 10px;
    padding: 8px; 
    border: 1px solid #ccc;
    border-radius: 4px; 
}

main {
    padding: 20px;
    max-width: 1200px; 
    margin: auto; 
}

#content-header {
    margin-bottom: 300px;
    text-align: center;
}

#content-info  {
    margin: 0 0 10px 0; 
    border: 1px solid #ccc;
    padding: 15px;
    background-color: #fff; 
    border-radius: 4px; 
    border: 1px solid #717171;
}

#content-table {
  margin: 20px 0;
  width: 100%;
  border: 1px solid #717171;
  background-color: #fff;
}

#list {
  position: relative;
  top: 2px;
  display: inline-block;
  margin: 0 10px 0 10px;
  fill: #fff;
  width: 14px;
  height: 14px;
  
}



/* Solid border */
hr.solid {
  border-top: 3px solid #bbb;
}





/* Side nav */

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #e2e4e5; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
    
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 30px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}

  }

/* - Side nav */







